:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Baloo Bhai", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.cart-button {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  border-color: var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5 rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.cart-button:hover {
  background: var(--lightBlue);
  color: var(--mainBlue);
}
.cart-button:focus {
  outline: none;
}

.cart-button-yellow {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  border-color: var(--mainYellow);
  color: var(--mainYellow);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5 rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.cart-button-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBlue);
}
.cart-button-yellow:focus {
  outline: none;
}

.navbar {
  background: var(--mainBlue);
}
.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.card {
  border-color: transparent;
  transition: all 0.5s linear;
}
.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 0.5s linear;
}

.product-container:hover .card {
  border: 0.04rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.product-container:hover .card-footer {
  background: rgba(247, 247, 247);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: all 0.5s linear;
}

.img-container:hover .card-img-top {
  transform: scale(1.2);
}

.product-cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 0.5s linear;
}

.img-container:hover .product-cart-btn {
  transform: translate(0, 0);
}

.product-cart-btn:hover {
  color: var(--mainBlue);
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container .container {
  background: var(--mainWhite);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow) !important;
}
